@import 'core/settings';

body {
margin: 0;
}

.title__header {
	text-align: center;
}

.nav__container {
	text-align: center;
}

.input__name {
	border: 0;
	border-bottom: 1px solid black;
	box-shadow: 0;
	margin: auto;
}

.button__search {
	background-color: rgb(128, 0, 85);
	color: white;
	border: 0;
}

.list__result{
	list-style: none;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	padding: 0;
	margin: 20px;

}

.item__list{
	background-color: rgb(239, 196, 245);
	margin: 10px;
	text-align: center;
	padding: 25px;
	color: rgb(165, 63, 148);
}

.favorite {
	border: 3px double blueviolet;
	background-color: rgb(183, 238, 220);
}