@import 'core/settings';

body {
margin: 0;
}

.list__result{
	list-style: none;
	display: flex;

}

.item__list{
	background-color: papayawhip;
	margin: 10px;
}

.favorite {
	border: 3px double blueviolet;
	background-color: aquamarine;
}